body {
  /*colorhunt.co E5DFDF 6BA8A9 357376 1D4D4F*/
  background-color: #f5f5f5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #f2c261;
  border-width: 5px;
  width: 3%;
}

h1 {
  color: #121212;
}

h3 {
  color: #2e2d2d;
}
